@import 'colors';
@import 'grid';
@import 'breakpoints';
@import 'fonts';

* {
//  @include for(smaller-than-phone) {background-color: red;}
//  @include for(phone-to-laptop) {background-color: yellow;}
//  @include for(larger-than-laptop) {background-color: green;}
}
