/*format for the footer itself*/
footer {
  color: darkgray;
  background-color: lightgray;
  text-align: center;
  padding: 10px;
  position: fixed;  /*pushing footer down, may change as other content added*/
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  box-sizing: border-box;
}

/*TO-DO 3-column formatting*/

footer a {
  color: lightseagreen;
  text-align: center;
  padding: 2px;
}