/*format for the footer itself*/
footer {
  color: darkgray;
  background-color: lightgray;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/*TO-DO 3-column formatting*/

a {
  color: lightseagreen;
  text-align: center;
  padding: 15px;
}