/*format for the footer itself*/
footer {
  color: red;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/*TO-DO 3-column formatting*/
