
#search-sidebar {
  /* Full height and 300px wide */
  height: 100%;
  width: 300px;

  /* Font style */
  font-family: Arial;
  font-size: 24px;

  /* Allow columnar flex positioning for children */
  display: flex;
  flex-direction: column;

  /* Pull out of the page flow */
  /* TODO: Replace with three column site layout */
  float: left;
}

.search-sidebar-category {
  /* Space out the categories */
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-sidebar-category-label {

}
