@import '../GlobalStyle/globals';

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;

  text-align: left;

  // Add spacing for children
  > * {
    margin-top: 20px;
  }
}

.section-name {
}
