@import '../GlobalStyle/globals';

.text-input {
  text-align: center;

  border: 0;
  border-bottom: 1px solid $dark-border-color;

  transition: background-color 0.2s linear;

  // Color of the input field (defaults to white, so inheritance is needed)
  background-color: inherit;

  // Background color when invalid entries are submitted
  &.invalid-entry {
    &.light { background-color: rgba(255,0,0,.1); }
    &.dark { background-color: inherit; }
  }
}


.underline {
  margin-top: -1px;
  height: 1px;
  transform: scale(0, 1);
  transition: all 0.2s linear;

  // Underline color when selected
  &.light { background-color: $accent-color; }
  &.dark { background-color: white; }

  // Underline color for good entries when selected
  &.valid-entry {
    &.light { background-color: green; }
    &.dark { background-color: rgb(150,255,150); }
  }

  // Underline color for bad entries always
  &.invalid-entry {
    &.light { background-color: red; }
    &.dark { background-color: rgb(255,100,100); }
    transform: scale(1);
  }
}

.text-input:focus+.underline {
  transform: scale(1);
}
