@import '../GlobalStyle/globals';

.number-input-container {
  display: flex;
  flex-direction: column;
  text-align: left;

  width: 100%;
  height: calc(50px + $big-font-size);
  margin-left: auto;
  margin-right: auto;
}

.number-input {
  text-align: center;

  border: 0;
  border-bottom: 1px solid $dark-border-color;

  transition: background-color 0.2s linear;

  &.valid-entry:focus {
//    background-color: rgba(0,255,0,.1);
  }

  &.invalid-entry {
    background-color: rgba(255,0,0,.1);
  }
}

.number-input-label {
  font-size: 16px;
  text-align: left;
}

.underline {
  background-color: $accent-color;
  margin-top: -1px;
  height: 1px;
  transform: scale(0, 1);
  transition: all 0.2s linear;

  &.valid-entry {
    background-color: green;
  }

  &.invalid-entry {
    background-color: red;
    transform: scale(1);
  }
}

.invalid-entry-message {
  font-size: $small-font-size - 4px;
}

.number-input:focus+.underline {
  transform: scale(1);
}
